<app-nabvar></app-nabvar>
<div class="flex items-center justify-center mt-8">
  <div class="card w-96 bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="text-center">Selecciona un servicio y manda el mensaje para la renovacion</h2>
      <h2>Numero de telefono</h2>
      <label class="input">
        <span class="label">+591</span>
        <input type="text" placeholder="62994685" [(ngModel)]="numeroWhatsap" /> <!-- Corregí el cierre del ngModel -->
      </label>
      <h3>Selecciona el servicio</h3>

      <select class="select" [(ngModel)]="servicioSeleccionado"> <!-- Corregí el cierre del ngModel -->
        <option>ChatGPT Plus</option>
        <option>Netflix</option>
        <option>Spotify</option>
      </select>

      <button class="btn btn-soft btn-success mt-4" (click)="enviarMensaje()">Enviar Mensaje</button>
    </div>
  </div>
</div>
